<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDNGWWxyrsGrewK-WZTCDQqTUweRI8uJZI</string>
	<key>GCM_SENDER_ID</key>
	<string>659495609688</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.usc.MoodMe</string>
	<key>PROJECT_ID</key>
	<string>moodme-d9f2f</string>
	<key>STORAGE_BUCKET</key>
	<string>moodme-d9f2f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:659495609688:ios:2630ff8e08e5d8126a712d</string>
</dict>
</plist>